@font-face {
font-family:"RobotoSlab-Bold-webfont.woff";
src: url("../assets/fonts/RobotoSlab-Bold-webfont.woff")format(woff);
}
@font-face{
    font-family: "Fira Sans Condensed";
    src: url("../assets/fonts/FiraSansCondensed-Bold-webfont.woff") format(woff);
}
 
body {
	font-family: 'Fira Sans Condensed', sans-serif;
	
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Fira Sans Condensed', serif;
	margin: 10px 10 10 08;
}

header {
	display: grid;
	justify-items: center;
	padding: 20px 0;
	text-align: center;
}
	#beach {
		max-width: 800%;
    background-repeat:no-repeat;
		border-radius: 0px;
    grid-column-start:1;
    grid-column-end:6;
    grid-row-start:1;
    grid-row-end:7;
    
	}


@media screen and (max-width: 768px) {
	header {
		padding: 10px;
		grid-template-columns: repeat(12, 1fr);
		align-items: center;
		text-align: right;
	}
	
	header section {
		padding: 100px;
	}
	

  
  #alex{
    width:40%;
    border-radius:10px;
    grid-column-start:6;
    grid-column-end:8;
    grid-row-start:4;
    grid-row-end:6;
  }
	
  #mat{
    width:40%;
    border-radius:10px;
    grid-column-start:8;
    grid-column-end:10;
    grid-row-start:9;
    grid-row-end:11;
  }
  
  #chris{
    width:40%;
    border-radius:10px;
    grid-column-start:10;
    grid-column-end:12;
    
  }
  
	h1 {
		font-size: 80px;
    background:#FBF7EB;
    color:#014262;
    grid-column-start:6;
    grid-column-end:11;
    text-align:left; 
	}
  
  h3{
    font-size:20px;
    text-align:left;
  }
	
	p {
		line-height: 1.25;
    text-align: left;
	}
}

